body {
  box-sizing: border-box;
  background-image: url("../images/arena.png");
  background-size: 100% auto;
  background-color: transparent;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}